@font-face {
    font-family: Manaspc;
    src: url('../fonts/manaspc.ttf');
}

body{
    text-align: center;
    background-color: #81ccee ;
    color: yellow; 
    font-family: Manaspc;
}

#restart{       
    margin: auto;
    display: block;
    margin-bottom: 10px;
    width: 100px;
}

footer{
    text-align: left;
    font-size: small;
    font-family: sans-serif;
}